################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/linqGuia/FileContentIndex/a7c2429a-fb0d-4a7f-b899-e88655ac55e7.vsidx
